body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background: url(./assets/quadro\ bart.png);
    background-size: cover;
    margin: 0;
    height: 100vh;
}
#modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(./assets/fundo\ modal.jpg);
    height: 800px;
    width: 1300px;
    border-radius: 16px;
    box-shadow: 0 0 10px;
    z-index: 99;
}
#modal p{
    font-family: 'Patrick Hand';
    font-size: 35px;
}
.number{
    text-align: center;
    font-family: 'Patrick Hand';
    font-size: 35px;
    border-radius: 18px;
    margin: 10px;
    margin-top: 100px;
}
.repetir{
    font-family: 'Patrick Hand';
    font-size: 35px;
    color: white;
    background:black;
    border-radius: 18px;
   padding: 8px 16px;
}
.sadbart{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: solid black 3px;
    border-radius: 100%;
}

#quadro {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 10%;
    width: 1000px;
    height: 580px;
    gap: 4px;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 800px;}
}

.escrita {
    font-family: 'Patrick Hand';
    font-size: 35px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    animation: animated-text 2s linear forwards
}

#repetidas, #apagadas {
    
    font-family: 'Patrick Hand';
    font-size: 32px;
    color: black;
}

#apagadas {
    margin-bottom: 30px;
}

.finalizar {
    display: none;
    position: absolute;
    right: 40px;
    bottom: 30px;
    text-decoration: none;
    font-family: 'Patrick Hand';
    font-size: 35px;
    color: black;
    background:white;
    border-radius: 18px;
   padding: 8px 30px;
}